


/*border-style: solid;
border-color: black;*/

.clock.span{

}

#clockDiv{
  color: #666666;
  font-family: Gill Sans;
  display: block;
  height:auto;
  margin:auto auto;

 }

 #clockDivInner{
   font-size: 110px;
   width:600px;
   margin: auto auto;
   text-align: center;
 }


#statusBlock{
    font-size: 50px;
    color: #EDF1F2;
    font-family: Gill Sans;
    display: block;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 40px;
}


 #currentPeriod{
   font-size: 60px;
   padding: 200px 0px 200px 0px;
   margin-bottom: 0px;
   margin-right: 0px;
   font-family: Gill Sans;
   display: inline;

 }


#completedPomosParag{
  color: #666666;
  font-size: 30px;
  display:block;
  text-align: center;
  margin: auto; 
  font-family: Gill Sans;
}

#completedPomosDiv{
  background-color: white;
  height:60px;
  margin-bottom: 10px;

}


#pauseIcon{
  height:80px;
  width: 80px;
  display:block;
  margin: 45px auto;
}

#skipPeriodButton{
  background-color:#ffa366;
  font-style: italic;
  font-size: 50px;
  color: #666666;
  border-style: solid;
  border-color: black;
}


body{

  background-color: #ffa366;
}
